@model MVC_App.Models.OfficeViewModel

<div class="text-center">
    <h1 class="display-4">Office</h1>
    <br />
    >
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Position
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var obj in Model.Employees)
            {
                <tr>
                    <td width="30%">
                        @obj.Name
                    </td>
                    <td width="50%">
                        @obj.Position
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p class="text-right text-dark">Count: @Model.EmployeeCount</p>
</div>